
#container {
  font-family: monospace;
  background-image: url(bokeh.jpg);
  height: 100%;
  margin: 10px;
  padding: 5%;

}

#quiz {
  text-align: center;
}

#score {
  text-align: center;
}

#start {
  margin-top: 2%;
  background: grey;
  border: 1px solid black;
}

#start:hover {
  background: lightcoral;
  border: 2px solid black;
}
