#question {
    margin: 50px;
    padding: 10px;
    position: relative;
    width: 70%;
  }

#choices button {
    float: left;
    margin: 8px 0px 0px 8px;
    padding: 4px 8px;
    background: #9ACFCC;
    color: #00403C;
    font-size: 14px;
  }

  #choices button:hover {
    background: #36a39c;
    color: #FFF;
  }